[submodule "user/binette/pkgs/dwm"]
	path = user/binette/pkgs/dwm
	url = https://github.com/Binetto/dwm.git
[submodule "user/binette/pkgs/slstatus"]
	path = user/binette/pkgs/slstatus
	url = https://github.com/Binetto/slstatus
[submodule "user/binette/pkgs/dmenu"]
	path = user/binette/pkgs/dmenu
	url = https://github.com/Binetto/dmenu
